<html>
    <head>
    <title>Simple PSU OAuth Client with PHP</title>
    </head>
    
    <body>
        <div style="text-align: center;">
            <h1>Simple PSU OAuth Client with PHP</h1>
            <h2>Require PHP version 5.5 or higher</h2>
            <h2>Require PHP Extension php_curl</h2>
            <h2>Developer regist for invoke OAuth2 service <a href="https://dev-devportal.eng.psu.ac.th" target="_blank">DevPortal</a> <a href="devportal-how-to-invoke-service.pdf" target="_blank">How to registration and revoke service</a></h2>
            <p>Author: Thawat Varachai email: thawat.va@psu.ac.th</p>
            <h2><a href="psuoauth.php">Sign-In</a> </h2>
        </div>

    </body>
    
    </html> 